#container {
    height: 100%;
    display: flex;
    justify-content: center;
}
#imgError {
    margin-left: 25%;
    height: 700px;
    width: auto;
}

#h1_error {
    color: brown;
   text-align: center;
}

#p_error {
    text-align: center;
}

td img {
    display: none;
    height: 50px;
    border: brown solid 2px;
}